services:
  mc:
    image: itzg/minecraft-server
    environment:
      EULA: "true"
      VERSION: "1.8.9"
    ports:
      - "25565:25565"
    volumes:
      - data:/data
    stdin_open: true
    tty: true
    restart: unless-stopped
volumes:

  data: {}

